﻿<ul>
<li><a href="#manual-editing-guidelines">Manual Editing Guidelines</a></li>
<li><a href="#glossary">Glossary</a></li>
<li><a href="#introduction">Introduction</a></li>
<li><a href="#prerequisites-compatibility-and-system-requirements">Prerequisites, Compatibility and System Requirements</a>
<ul>
<li><a href="#minimum-system-requirements">Minimum System Requirements</a></li>
<li><a href="#supported-devices">Supported Devices</a></li>
<li><a href="#supported-software">Supported Software</a></li>
<li><a href="#additional-downloads">Additional Downloads</a></li>
</ul>
</li>
<li><a href="#quick-start-guide">Quick Start Guide</a>
<ul>
<li><a href="#quick-start-ui-overview">Quick Start: UI Overview</a></li>
<li><a href="#quick-start-connecting-your-equipment">Quick Start: Connecting Your Equipment</a></li>
<li><a href="#quick-start-finalizing-the-settings">Quick Start: Finalizing the settings</a></li>
<li><a href="#quick-start-focusing">Quick Start: Focusing</a></li>
<li><a href="#quick-start-starting-a-sequence">Quick Start: Starting a Sequence</a></li>
</ul>
</li>
<li><a href="#tabs">Tabs</a>
<ul>
<li><a href="#tab-camera">Tab: Camera</a></li>
<li><a href="#tab-filter-wheel-focuser-and-rotator">Tab: Filter Wheel, Focuser and Rotator</a></li>
<li><a href="#tab-telescope">Tab: Telescope</a></li>
<li><a href="#tab-phd2">Tab: PHD2</a></li>
<li><a href="#tab-object-browser">Tab: Object Browser</a></li>
<li><a href="#tab-framing-assistant">Tab: Framing Assistant</a></li>
<li><a href="#tab-sequence">Tab: Sequence</a></li>
<li><a href="#tab-imaging">Tab: Imaging</a>
<ul>
<li><a href="#panel-adjustment-and-personalization">Panel Adjustment and Personalization</a></li>
<li><a href="#panel-image">Panel: Image</a></li>
<li><a href="#panel-image-history">Panel: Image History</a></li>
<li><a href="#panel-camera">Panel: Camera</a></li>
<li><a href="#panel-telescope">Panel: Telescope</a></li>
<li><a href="#panel-plate-solving">Panel: Plate Solving</a></li>
<li><a href="#panel-polar-alignment">Panel: Polar Alignment</a></li>
<li><a href="#panel-weather">Panel: Weather</a></li>
<li><a href="#panel-guider">Panel: Guider</a></li>
<li><a href="#panel-sequence">Panel: Sequence</a></li>
<li><a href="#panel-filter-wheel">Panel: Filter Wheel</a></li>
<li><a href="#panel-focuser">Panel: Focuser</a></li>
<li><a href="#panel-imaging">Panel: Imaging</a></li>
<li><a href="#panel-hfr-history">Panel: HFR History</a></li>
<li><a href="#panel-statistics">Panel: Statistics</a></li>
<li><a href="#panel-auto-focus">Panel: Auto Focus</a></li>
</ul>
</li>
<li><a href="#tab-settings">Tab: Settings</a>
<ul>
<li><a href="#general-settings">General Settings</a></li>
<li><a href="#equipment-settings">Equipment Settings</a></li>
<li><a href="#imaging-settings">Imaging Settings</a></li>
<li><a href="#plate-solving-settings">Plate Solving Settings</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#usage">Usage</a>
<ul>
<li><a href="#plate-solving">Plate Solving</a></li>
<li><a href="#using-the-object-browser">Using the Object Browser</a></li>
<li><a href="#dithering-with-phd2">Dithering with PHD2</a></li>
<li><a href="#framing-with-the-framing-assistant">Framing with the Framing Assistant</a></li>
<li><a href="#automated-meridian-flip">Automated Meridian Flip</a></li>
<li><a href="#advanced-sequencing">Advanced Sequencing</a></li>
<li><a href="#using-rs232-or-mount-for-bulb-shutter">Using RS232 or Mount for Bulb Shutter</a></li>
</ul>
</li>
<li><a href="#troubleshooting">Troubleshooting</a>
<ul>
<li><a href="#errors">Errors</a></li>
<li><a href="#bugs">Bugs</a></li>
<li><a href="#comments-and-suggestions">Comments and Suggestions</a></li>
</ul>
</li>
</ul>